.formulary{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.formulary input[type="text"],
.formulary input[type="email"],
.formulary input[type="password"],
.formulary input[type="number"],
.formulary select {
    font-family: var(--font-primary);
    font-size: 1.1875rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgb(160, 154, 154);
    border:2px solid var(--color-black);
    padding: 0 1.9375rem;
    height: 4.9375rem;
    width: 100%;
}

.formulary input[type="text"]::placeholder,
.formulary input[type="email"]::placeholder,
.formulary input[type="password"]::placeholder,
.formulary input[type="number"]::placeholder,
.formulary select::placeholder {
    color: var(--color-black);
    .formulary{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    
    .formulary input[type="text"],
    .formulary input[type="email"],
    .formulary input[type="password"],
    .formulary input[type="number"],
    .formulary select {
        font-family: var(--font-primary);
        font-size: 1.1875rem;
        font-weight: 400;
        text-transform: uppercase;
        background-color: var(--background-input);
        border:2px solid var(--color-black);
        padding: 0 1.9375rem;
        height: 4.9375rem;
        width: 100%;
    }
    
    .formulary input[type="text"]::placeholder,
    .formulary input[type="email"]::placeholder,
    .formulary input[type="password"]::placeholder,
    .formulary input[type="number"]::placeholder,
    .formulary select::placeholder {
        color: var(--color-black);
    }}