.title1{
    color: var(--color-black);
    font-family: var(--font-primary);
    /*font-size: 6.25rem;*/
    font-size: clamp(3rem,5.5vw,6.25rem);
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
}

.title2{
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
    text-transform: uppercase;
}

.title3{
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: 1.1875rem;
    font-weight: 700;
}

.title1.center,
.title2.center,
.title3.center{
    text-align: center;
}
.paragraph{
    color: var(--color-black);
    font-family: var(--font-secondary);
    font-size: 1.1875rem;
    font-weight: 400;
}

.price{
    color: var(--color-black);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    font-weight: 400;
}

